.container {
  display: flex;
  flex-direction: row;
}

body {
  background-color: #cfd8dc;
}

.navbar {
  background: #ff6b6b;
  width: 250px;
  height: 640px;
  font-family: monospace;
  border: 2px solid darkred;
}

.navbar ul li {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.navbar .title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
  color: #333333;
}

.navbar ul li p {
  font-size: 15px;
  color: #e0e0e0;
}

.navbar ul li a {
  text-decoration: none;
  color: #333333;
}

.navbar ul li a:visited {
  text-decoration: none;
}

.content {
  margin: 20px;
}

.task-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 40px;
  color: #393e46;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: linear-gradient(to right, #ff6b6b, #ffb347, #ff6b6b);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
